body {
  background-image: url("../background.jpg");
  height: -webkit-fill-available;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  text-align: -webkit-center;
  /*whatever width you want*/
}

h1{
    background-color: white;
    color: #19ced1;
}

a{
    background-color: #19ced1;
    color: white;
    display: block;
}