<body>
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Name</span>
          </div>
          <input (keyup)="onNameInput($event)" type="text" name="name" id="name" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
        </div>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Description</span>
          </div>
          <input (keyup)="onDescriptionInput($event)" type="text" name="description" id="description" class="form-control"
            aria-label="Small" aria-describedby="inputGroup-sizing-sm">
        </div>
        <div style="display:block" class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Image</span>
          </div>
        <label class="att-each">
            <input #file (change)="onFileSelected(file)" type="file" name="pic" accept="image/*" id="image" class="btn btn-primary btn-lg">
        </label>
        <div class="input-group input-group-sm mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-sm">Price</span>
          </div>
          <input (keyup)="onPriceInput($event)" type="number" name="quantity" min="1" max="50" id="price" class="form-control" aria-label="Small"
            aria-describedby="inputGroup-sizing-sm">
        </div>
        <input type="submit" value="Submit" class="btn btn-success btn-lg" (click)="createNewProduct()">
        <div id="resultImage"></div>
      </div>
    </div>
  </div>
  <div style="display: none" class="alert alert-danger" role="alert">
    An error occurred while creating new product
  </div>
  <div style="display: none" class="alert alert-success" role="alert">
    Product successfully created
  </div>
</body>
